{% extends 'pages/base.html' %}

{% block content %}
<article class="card my-4 mx-auto" style="max-width: 520px;">
    <div class="card-body">
        <h4 class="card-title mb-4">Change Password</h4>
        <form action="{% url 'edit_password' %}" method="POST">
            {% csrf_token %}
            {% include 'partials/alerts.html' %} 
            <div class="form-group mb-4">
                <label>New password</label>
                <input type="password" name="newpassword1" class="form-control" placeholder="Password" >
            </div>
            
            <div class="form-group mb-4">
                <label>Repeat password</label>
                <input type="password" name="newpassword2" class="form-control" placeholder="Password" >
            </div>
            
            <div class="form-group mb-4">
                <label>Old password</label>
                <input type="password" name="oldpassword" class="form-control" placeholder="Password" >
            </div>
            
            <button type="submit" value="Edit" class="btn btn-dark" style="float: right;"> Save </button>
        </form>
    </div> 
</article>

{% endblock %}