{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<h2 class="card-title mt-4 mx-auto" style="text-align: center;">About us</h2>
<hr>
<img class="image-responsive"  src="{% static 'img/aboutus.jpg' %}" alt="" style="max-height: 500px;
display: block;
margin-left: auto;
margin-right: auto;">
<hr>
<h4 class="card-title mt-4">Our Story</h4>

<p style="text-align: justify;
text-justify: inter-word;
">
    WatchMe is a leading retailer of brand name designer watches for all watch brands listed on our website.
    We pride ourselves on having one of the most efficient shopping systems available with communication at every stage to inform you of your order status, as well as excellent customer service and support team who are glad to assist you with any enquiry or problem, should one arise.
    Buy from WatchMe with confidence: as an official retailer for all brands Since 2008 Listed, all watches purchased from us are provided with the official manufacturer's Warranty.
</p>

<h4 class="card-title mt-4">Our Promise to You</h4>

<p style="text-align: justify;
text-justify: inter-word;
">
    Wondering whether our watches are genuine, considering how good the prices are?
    No need to worry; we are official stockists for all of our brands.
    Your watch will ship out of our very own warehouse in Reading, and before then, it will sit with the official manufacturer.
    No middle man here!
    This also means every watch you purchase with us will come in the original brand packaging and with a valid guarantee.
    Plus any extras, such as instructions and technical information (if applicable), will be present and correct.
</p>

{% endblock %} 
