{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<h4 class="card-title mt-4">Search products</h4>
<form action="{% url 'home' %}" method="POST">
  {% csrf_token %}
  <div class="input-group" style="max-width: 450px;">
    <input name="q" type="search" class="form-control rounded mr-2" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="btn btn btn-dark">Search</button>
  </div>
</form>


<h4 class="card-title mt-4">Available products</h4>
<div class="row mb-4">
    {% for product in products %}
    <div class="col-md-6 col-lg-4 mb-4" >
        
        <div class="box-element product" >
        <img class="thumbnail" src="{{ product.imageURL }}">
          <h5><strong>{{ product.title }}</strong></h5>
          <hr>
          <p class="card-text">{{ product.description }}</p>
          <hr>
          <a href="{% url 'details' product.id %}" class="btn btn-dark">View</a>
          <h4 style="display: inline-block; float: right;">{{ product.price }} KM</h4>
        </div>
      </div>

    {% endfor %}    
  </div>

{% endblock %} 
